* {
    background-image: url("../img/img1.png");
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center
}

h1 {
    text-align: center;
    color: white;
    font-size: 50px;
    display: flex;
}

