header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.6s;
  padding: 40px 100px;
  z-index: 10000;
}


header.sticky {
  justify-content: space-around;
  padding: 5px 100px;
  background: #fff;
}

header .logo {
  position: relative;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 5em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
  font-family: 'riesling', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

header a span {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: 'riesling', sans-serif;
}

header .logo img {
  max-width: 25%;
  height: auto;
}

header .search,
header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
}

header .search a,
header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.6s;
}


.search {
  
  display: inline-block;
  align-items: baseline;
  text-decoration: none;
  vertical-align: middle;
}

.fa-search {
  margin-left: 5px; /* Ajuste o espaçamento conforme necessário */
}

p {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}


.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../assets/bg_2.jpg);
  background-size: cover;
  background-position: center;
}

header.sticky .logo, 
header.sticky .search,
header.sticky i,
header.sticky p,
header.sticky ul li a {
  color: #000;
}
