@font-face {
    font-family: 'riesling';
    src: url(../fonts/riesling.ttf) format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #fff;
}

.result {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    background-color: #00000006;
    width: 400px;
    margin: 20px auto;
    border-radius: 20px;
    padding: 5px 10px;
    color: #4b4b4b;
}

#resultInput {
    padding: 8px;
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none;
}

.result label {
    height: 20px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 350px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    margin: 10px;
    padding: 15px 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}