@font-face {
    font-family: 'riesling';
    src: url(../fonts/riesling.ttf) format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    /* background: #000;  */
    min-height: 200vh;
}

.navegacao {
    top: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    background-color: #0D314E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    z-index: 10000;
  }

.navegacao .menu {
    display: flex;
    gap: 15%;
  }

ul {
    list-style: none;
    text-decoration: none;
}

.navegacao .pesquisar a,
.navegacao .menu li a {
    padding-bottom: 30px;
    text-transform: uppercase;
    color: #e8e8e8;
    font-weight: bolder;
    font-size: 15px;
    font-family: "Garamond";
    text-decoration: none;
}

header nav {
    background-image: url(../assets/bg2.png);
    position: relative;
    height: 85vh;
    width: 100%;
    justify-content: center;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

header nav h1 {
    text-align: center;
    font-family: 'riesling';
    font-size: 10em;
    font-style: normal;
    padding: 10px 0px;
    margin: 0;
    color: #fff;
    letter-spacing: 10px;
}

.pesquisar {
    text-decoration: none;
    display: inline-block;
    align-items: baseline;
    vertical-align: middle;
}

.fa-search {
    margin-left: 5px; /* Ajuste o espaçamento conforme necessário */
}

p {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}


#geral{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    
    width: 80%;
    background-color: #0D314E;
    /* filter: drop-shadow(10px 10px 10px #9aa3b8); */
    font-family:"Garamond";
    font-size: 20px;
    margin: 3% 0;
    padding: 1% 2% 2% 2%;
    z-index: 1;
}
h1 {
    display: flex;
    font-family: 'Poppins';
    font-weight: bolder;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    color: #cdd2de;
    font-size: 75px;
    margin: 0%;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Garamond";
    font-style: italic;
    font-size: 35px;
    margin: 4% 0 5% 0;
    color: #CC5216;
}

h3 {
    color:#9aa3b8;
    font-family: "Poppins";
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
    padding-left: 2%;
}

p {
    font-size: 25px;
    line-height: 1.5;
    text-align: justify;
    text-indent: 4.5%;
    color: #c9c9c9;
}

.img_principal {
    width: 90%;
    height: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.todos_instrumentos {
    display: flex;
    gap: 4%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}
.container_instrumentos {
    display: flex;
    position: relative;
    margin-bottom: 30px;
    min-width: 410px;
    min-height: 360px;
    align-items: center;
    justify-content: center;
    
}

.todos_instrumentos img {
    width: calc(100vh - 400px);
    height: calc(100vh - 500px);
    min-width: 410px;
    min-height: 360px;
    border-radius: 7px;
    border: 5px solid #9aa3b8;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    max-width: 50%;
}

.todos_instrumentos img:hover {
    filter: drop-shadow(10px 10px 10px #9aa3b8); 
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    right: 0;
    padding-bottom: 20px;
    background-color: #0D314E;
    color: #D9E2F7;
}

section .logo1 {
    padding-top: 30px;
    margin-bottom: 48px;
}

section.logo1 h2 {
    display: block;
    height: 30px;
    margin: 30px 30px;
    font-weight: bold;
    font-family: 'riesling', sans-serif;
    font-size: 2.5em;
}

section.logo1 ul {
    list-style: none;
    padding: 0 auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

section.logo1 ul li a {
    display: block;
    margin-bottom: 10px;
    color: rgb(255 255 255/ 90%);
    text-decoration: none;
}

section.logo1 h3 {
    color: rgb(255 255 255/ 40%);
    font-weight: 400;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
}

section.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    border-top: 2px solid rgb(255 255 255/ 10%);
    color: rgb(255 255 255/ 40%);
    font-size: 13px;
}

@media (width > 480px) {
    section.logo1 ul {
        padding-right: 10%;
    }
}

@media (width > 600px) {
    section.logo1 ul {
        grid-template-columns: repeat(4, 1fr);
        padding-right: 0;
    }
}


