@font-face {
    font-family: 'riesling';
    src: url(../fonts/riesling.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(236, 237, 232);
    min-height: 200vh;
}

header {
    background: url(../assets/bg.jpeg);
    background-size: cover;
    background-position: center;
    text-align: center; /* Isso centraliza o conteúdo dentro do header */
    justify-content: space-between;
    padding: 50px; /* Ajuste conforme necessário */
}

nav ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    position: relative;
    list-style: none;
}

nav a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}

.search {
    margin-top: 20px; /* Ajuste conforme necessário */
}

.search h3 {
    color: white; /* Ajuste a cor do texto conforme necessário */
}

input {
    padding: 5px; /* Ajuste conforme necessário */
}

main, footer {
    padding: 0 20px;
}

h1 {
    font-family: 'riesling';
    font-style: normal;
    font-size: 5em;
    text-align: center;
}

.wrapper {
   display:flex;
   justify-content:center;
   align-items: center;
   margin-bottom: 20px;
}

.instruments {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:10px;
}

.instrument {
    align-self: center;
    justify-self: center;
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.instrument p > a {
    text-decoration: none;
    color: #7B372E;
    font-weight: bold;
    font-size: 32px;
    background-color: #fff;
}

.key_instruments {
    background: url(../assets/piano.png);
    background-position: center;
    background-size: cover;
}

.wind_instrument {
    background: url(../assets/saxofone.png) center/cover;
    background-size: cover;
}

.chords_instruments {
    background: url(../assets/violao.png) center/cover;
    background-size: cover;
}

.percussion_instruments {
    background: url(../assets/bateria.png) center/cover;
    background-size: cover;
}

footer > div {
    margin: 10px;
}

