h2 {
    margin: 10px 0;
}

.section-key {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.wrapper-key {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.link-instruments-key {
    align-self: center;
    justify-self: center;
}