@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
    font-family: 'riesling';
    src: url(../fonts/riesling.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:target {
    scroll-margin-top: 7rem;
}

#geral{
    background-color: #0D314E;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body main {
    width: 80%;
    border-radius: 10px;
    border: double #0D314E;
    background-color: #0D314E;
    filter: drop-shadow(10px 10px 10px #0d314e);
    font-family:"Garamond";
    font-size: 20px;
    margin: 3% 0;
    padding:  1% 2% 2% 2%;
    z-index: 1;
}

h1 {
    display: flex;
    font-family: 'Poppins';
    font-weight: bolder;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    color: #9AA3B8;
    font-size: 75px;
    margin: 0%;
}

h2, h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Garamond";
    font-style: italic;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 48px;
    color: #CC5216;
    margin: 20px auto;
}

h3 {
    font-size: 40px;
}

p {
    font-size: 32px;
    line-height: 1.5;
    text-align: justify;
    color: #9AA3B8;
    font-family: Garamond;
}

span {
    font-weight: 500;
}

.variacoes {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
}

.elemento1, .elemento2 {
    flex: 2;
}

.color img{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -webkit-transition: all 1s ease;
}
    
.color img:hover{
    filter: grayscale(0%);
    filter: gray;
    -webkit-filter: grayscale(0%);
    filter: none;
    transition: 1s ease;
}

#geral .imagem.principal,
#geral .img_instrumento {
    width: 100%;
    height: auto;
    display: block;
    margin: 10px auto 10px auto;
    border-radius: 20px;
}

#geral .imagem.variacoes {
    width:70%;
    margin-left: auto;
    margin-right: auto;
}

.img_stevie {
    display: flex;
    gap: 10px;
    margin: 10px;
}

.img_stevie1,
.img_stevie2 {
    
    justify-content: space-between;
    width: 50%;
    height: 60%;
    border-radius: 20px;
}

.img_paul {
    width: 50%;
    height: auto;
    display: block;
    margin: 10px auto 10px auto;
    border-radius: 20px;
}

/* Quotes */
.quotes-container {
    background-color: #ddd;
    padding: 30px;
    margin: 10px;
  }
  
.quotes-container blockquote {
    font-weight: bold;
    font-size: 30px;
}
  
.quotes-container p {
    font-style: italic;
    color: #000;
}

/* Piano */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #ebebeb;
}

.piano {
    background-color: #121212;
    width: 1000px;
    height: 400px;
    margin: 100px auto 0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.controls {
    color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.controls h1 {
    font-weight: 500;
    font-size: 1.4rem;
}

.switcher {
    width: 50px;
    height: 25px;
    background-color: #555;
    display: flex;
    border-radius: 50px;
    padding: 4px;
}

.switcher__button {
    height: 100%;
    aspect-ratio: 1/1;
    background-color: #ddd;
    border-radius: 25px;
}

.switcher--active {
    background-color: #006eff;
    justify-content: flex-end;
}

.checkbox__label {
    display: flex;
    gap: 15px;
}

.piano__keys {
    width: 100%;
    height: 300px;
    background-color: #181818;
    border-radius: 15px;
    padding: 30px 40px;
    display: flex;
}

.white {
    background-color: white;
    flex-grow: 1;
    border-radius: 5px;
    border-bottom: 8px solid #ddd;
    color: rgba(0, 0, 0, 0.3);
    margin-left: -17px;
    z-index: 1;
}

.key span {
    font-weight: 600;
    position: absolute;
    transition-duration: 300ms;
}

.key {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 8px;
    user-select: none;
}

.black {
    width: 40px;
    background: linear-gradient(black, #333);
    height: 150px;
    border-radius: 0 0 5px 5px;
    border-bottom: 8px solid #222;
    margin-left: -20px;
    z-index: 2;
    color: rgba(255, 255, 255, 0.3);
}

.piano__keys .white:nth-child(1) {
    margin-left: 0;
}

.piano__keys .white:nth-child(5) {
    margin-right: 20px;
}

.piano__keys .white:nth-child(12) {
    margin-right: 20px;
}

.piano__keys .white:nth-child(17) {
    margin-right: 20px;
}

.black--pressed {
    background: linear-gradient(#222, black);
    border-bottom: none;
    height: 148px;
}

.disabled-keys span {
    opacity: 0;
}