
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#geral{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body main {
    width: 80%;
    border-radius: 10px;
    border: double #0D314E;
    background-color: #f1f4fc;
    filter: drop-shadow(10px 10px 10px #9aa3b8);
    font-family:"Garamond";
    font-size: 20px;
    margin: 3% 0;
    padding:  1% 2% 2% 2%;
    z-index: 1;
}

#nome_pagina {
    display: flex;
    font-family: 'Poppins';
    font-weight: bolder;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    color: #0D314E;
    font-size: 75px;
    margin: 0%;
}

.titulos {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Garamond";
    font-style: italic;
    font-size: 35px;
    color: #CC5216;
}

p {
    font-size: 25px;
    line-height: 1.5;
}

.imagem.principal {
    display: flex;
    gap: 4%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}
.container_instrumentos {
    display: flex;
    position: relative;
    margin-bottom: 30px;
    min-width: 410px;
    min-height: 360px;
    align-items: center;
    justify-content: center;
    
}

.todos_instrumentos img {
    width: calc(100vh - 400px);
    height: calc(100vh - 500px);
    min-width: 410px;
    min-height: 360px;
    border-radius: 7px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    max-width: 50%;
}

.todos_instrumentos img:hover {
    filter: contrast(80%) drop-shadow(20px 20px 20px #000); 
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}